.main-character {
	padding-top: 100px;
}

.card-character {
	background: #181D25 !important;
}

.ui.card>.content>.header {
	color: rgb(255, 206, 31) !important;
	font-size: 24px !important;
}

.ui.card>.content>.description {
	color: whitesmoke !important;
	font-size: 16px !important;
}

.loader-holder {
	height: 100px;
}

#imgContainer {

}

#background {
	position: absolute;
	width: 800px;
	border: solid 1px rgb(255, 206, 31);
	display: block;
	margin-left: 20%;
	margin-top: 50px;
	z-index: -5;
}

.leftMain {
	position: absolute;
	width: 62px;
	left: 65px;
	top: 147px;
	margin-left: 20%;
	margin-top: 50px;
}

.leftSecond {
	position: absolute;
	width: 62px;
	left: 65px;
	top: 233px;
	margin-left: 20%;
	margin-top: 50px;
}

.leftPower {
	position: absolute;
	width: 62px;
	left: 65px;
	top: 319px;
	margin-left: 20%;
	margin-top: 50px;
}

.helper {
	position: absolute;
	width: 62px;
	left: 65px;
	top: 403px;
	margin-left: 20%;
	margin-top: 50px;
}

.rightHead {
	position: absolute;
	width: 62px;
	left: 661px;
	top: 63px;
	margin-left: 20%;
	margin-top: 50px;
}

.rightGloves {
	position: absolute;
	width: 62px;
	left: 661px;
	top: 147px;
	margin-left: 20%;
	margin-top: 50px;
}

.rightBody {
	position: absolute;
	width: 62px;
	left: 661px;
	top: 233px;
	margin-left: 20%;
	margin-top: 50px;
}

.rightBoots {
	position: absolute;
	width: 62px;
	left: 661px;
	top: 318px;
	margin-left: 20%;
	margin-top: 50px;
}

.rightCloak {
	position: absolute;
	width: 62px;
	left: 661px;
	top: 404px;
	margin-left: 20%;
	margin-top: 50px;
}

.classIcon {
	position: absolute;
	width: 102px;
	left: 45px;
	top: 26px;
	margin-left: 20%;
	margin-top: 50px;
}
